.card {
    background: #FFFFFf;
    width: 270px;
    height: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}
.persContact{
    padding: 10px 0;
   
}
.search{
    width: 95%;
    margin: 0 auto;
}
.search input{
    background: #dfe7e7;
}
.searchContact{
    position: absolute;
    top:16px;
    left: 20px;
    color: grey
}
.photo{
    border-radius: 50%;
    padding: 10px;
    background: green;
}
.edit {
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 10px;
    background: blueviolet;
}

.create {
    border-radius: 50%;
    text-align: right;
    padding: 5px;
    background: #3546d8
}